[Desktop Entry]
Version=1.0
Type=Link
Name=VM Info
Comment=
Icon=web-browser-symbolic
URL=https://wiki.engr.illinois.edu/display/cs225/Virtual+Machine
